Requirements:
Works on andrew systems - yes, not much to elaborate on here
System setup config file - 
Maintains participant processes - yes, again, not much to elaborate on
Add jobs from any participant - yes, but you need to have the listening port of the local participant
Execute non-mapreduce tasks locally - yes, because our interface doesn't allow users to run anything except mapreduce tasks on our system
Concurrent jobs - yes, nodes just take as many tasks as they have processors
Maximize parallelism - yes, we split jobs into as many pieces as we have processors in the system
Robustness - yes, our network communication is quite fault-tolerant, and the master can survive even when participants die
I/O library - kind of, we read any kind of fixed length records, but this is not visible to the user
Management tools - yes, the master has a shell
Documentation - doing it now
Examples - yep, each with their own readmes